.rating-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  .flex-ite:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
  }

  .flex-ite:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
  }

  .flex-ite:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
  }
}
