.t-wrap {
  width: 100%;
  height: 265px;
  display: flex;
}

.flex-it:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
  margin-right: 30px;
}

.flex-it:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  margin-right: 30px;
}

.flex-it:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-end;
}
